In [1]:
import numpy as np
import pandas as pd

In [2]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [3]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [42]:
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

In [46]:
pets['num_pets'] = pets['pets'].apply(lambda x: len(x))

In [50]:
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

3    56
Name: age, dtype: int32

In [57]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)

In [58]:
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [59]:
pet_series.value_counts()

cat        5
dog        4
gerbil     2
hamster    2
rabbit     1
fish       1
dtype: int64

In [62]:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].reset_index(drop=True).mean()

46.75